/* Importation des differents dont family*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jeju+Hallasan&display=swap');

/* Variabilisation */
:root {
    --primary-color: #7286D3;
    --secondary-color: #8EA7E9;
    --font-poppins: 'Poppins', sans-serif;
    --font-JejuHallasan: 'JejuHallasan', sans-serif;
}
/* Sytling */
* {
    padding: 0;
    border: 0;
}

html {
    font-size: 10px;
    border: none;
    margin: 0;
    padding: 0;
}

.blog{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    width: 45rem;
    height: 68rem;
    transform: translateX(-31.35rem);
    position: relative;
    display: inline-block;

}

.text h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-73rem, 22rem);
    text-align: center;
    font-weight: 600;
    font-size: 5.5rem;
    color: #FFFFFF;
    font-family: var(--font-JejuHallasan);
}

.infos h1 {
    margin-top: 7rem;
    font-family: var(--font-poppins);
    font-weight: 580;
    font-size: 4rem;
}
.Email {
    font-weight: 400;
    font-size: 2rem;
    font-family: var(--font-poppins);
    line-height: 3rem;
    letter-spacing: 0rem;
    text-align: left;
}
.passwordi{
    font-weight: bold;
}
.visually-hidden {
    position: absolute;
    visibility: hidden;
}
.password{
    font-weight: 400;
    font-size: 2rem;
    font-family: var(--font-poppins);
    line-height: 3rem;
    letter-spacing: 0rem;
    text-align: left;
}
.forgot-password {
    font-weight: 500;
    font-size: 2rem;
    font-family: var(--font-poppins);
    line-height: 3rem;
    letter-spacing: 0rem;
    text-align: right;
    color: var(--secondary-color);
}
.submit {
    text-align: center;
    font-family: var(--font-poppins);
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
    letter-spacing: 0em;
    color: #FFFFFF;
    background-color: var(--primary-color);
}
.separator {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ligne1{
    transform: translate(-1.5rem);
}
.ligne2{
    transform: translateX(1.5rem);
}
.separator hr {
    flex-grow: 1;
    border: none;
    border-top: 0.1rem solid #9E9E9F;
    margin-top: 6rem;
}
.separator span {
    margin-top: 11rem;
    margin-bottom: 6rem;
    font-family: var(--font-poppins);
    font-size: 1.8rem;
    font-weight: 10;
    line-height: 3rem;
    letter-spacing: 0em;
    text-align: center;
}